connections:
  postgresDBUser: postgres
  postgresDBHost: postgresql
  postgresDBPort: "5432"

  redistServerHost: redis-master

  rabbitmqHost: rabbitmq
  rabbitmqUser: user
  rabbitmqPROTO: ampq

  metricsHost: statsd
  metricsEnabled: "false"

  spellcheckerHostPort: spellchecker:8080

  exampleHostPort: example:8080

pvc:
  name: ds-files
  storageClassName: "nfs"
  storage: 6Gi
  mountPath: /var/lib/onlyoffice/documentserver/App_Data/cache/files

example:
  install: false
  name: example
  app: example
  containerName: example
  containerImage: onlyoffice/4testing-ds-example:5.5.3
  containerPort: 3000
  environmentSecretReference: jwt
  environmentConfigMapReference: example
  DSURL: "/example"

docservice:
  name: docservice
  app: docservice
  replicas: 2
  configMap: documentserver

  proxyContainerImage: onlyoffice/4testing-ds-proxy:5.5.3
  proxyContainerPort: 8888

  docserviceContainerImage: onlyoffice/4testing-ds-docservice:5.5.3
  docserviceContainerPort: 8000

converter:
  name: converter
  app: converter
  replicas: 2

  converterContainerImage: onlyoffice/4testing-ds-converter:5.5.3

spellchecker:
  name: spellchecker
  app: spellchecker
  replicas: 2

  spellcheckerContainerImage: onlyoffice/4testing-ds-spellchecker:5.5.3
  spellcheckerContainerPort: 8080

secrets:
  jwt:
    name: jwt
    type: Opaque
    immutable: true
    jwtEnabled: true
    jwtSecret: MYSECRET

statsd:
  install: true
  name: statsd
  app: statsd
  udpPort: 8125
  tcpPort: 8126

ingress:
  install: false
  https: false
