product:
  name: onlyoffice

connections:
  dbHost: postgresql
  dbUser: postgres
  dbPort: "5432"
  dbName: postgres
  dbExistingSecret: postgresql
  dbPassword: ""
  redisHost: redis-master
  amqpHost: rabbitmq
  amqpUser: user
  amqpProto: amqp
  amqpExistingSecret: rabbitmq
  amqpPassword: ""

persistence:
  storageClass: "nfs"
  size: 8Gi

log:
  level: WARN

metrics:
  enabled: false
  host: statsd-exporter-prometheus-statsd-exporter
  port: "8125"
  prefix: ds.

example:
  enabled: false
  containerImage: onlyoffice/docs-example:6.4.2.6

extraConf:
  configMap: ""
  filename: local.json

antiAffinity:
  type: "soft"
  topologyKey: kubernetes.io/hostname
  weight: "100"

docservice:
  replicas: 2
  readinessProbeEnabled: true
  readinessProbe:
    failureThreshold: 2
    httpGet:
      path: /index.html
      port: 8000
    periodSeconds: 10
    successThreshold: 1
    timeoutSeconds: 3
  livenessProbeEnabled: true
  livenessProbe:
    failureThreshold: 5
    httpGet:
      path: /index.html
      port: 8000
    periodSeconds: 10
    successThreshold: 1
    timeoutSeconds: 3
  startupProbeEnabled: true
  startupProbe:
    httpGet:
      path: /index.html
      port: 8000
    failureThreshold: 30
    periodSeconds: 10
  containerImage: onlyoffice/docs-docservice-de:6.4.2.6
  resources:
    ##Example:
    ##requests:
    ##  memory: "256Mi"
    ##  cpu: "100m"
    requests: {}
    ##limits:
    ##  memory: "2Gi"
    ##  cpu: "1000m"
    limits: {}

proxy:
  gzipProxied: "off"
  livenessProbeEnabled: true
  livenessProbe:
    failureThreshold: 3
    httpGet:
      path: /index.html
      port: 8888
    periodSeconds: 10
    successThreshold: 1
    timeoutSeconds: 3
  startupProbeEnabled: true
  startupProbe:
    httpGet:
      path: /index.html
      port: 8888
    failureThreshold: 30
    periodSeconds: 10
  proxyContainerImage: onlyoffice/docs-proxy-de:6.4.2.6
  resources:
    ##Example:
    ##requests:
    ##  memory: "256Mi"
    ##  cpu: "100m"
    requests: {}
    ##limits:
    ##  memory: "2Gi"
    ##  cpu: "1000m"
    limits: {}

converter:
  replicas: 2
  containerImage: onlyoffice/docs-converter-de:6.4.2.6
  resources:
    ##Example:
    ##requests:
    ##  memory: "256Mi"
    ##  cpu: "100m"
    requests: {}
    ##limits:
    ##  memory: "2Gi"
    ##  cpu: "1000m"
    limits: {}

jwt:
  enabled: true
  secret: MYSECRET
  header: Authorization
  inBody: false

service:
  type: ClusterIP
  port: 8888

ingress:
  enabled: false
  ssl:
    enabled: false
    host: example.com
    secret: tls
grafana_ingress:
  enabled: false
