apiVersion: v1
kind: ConfigMap
metadata:
  name: documentserver
data:
  DB_USER: {{ .Values.connections.dbUser }}
  DB_HOST: {{ .Values.connections.dbHost }}
  DB_PORT: {{ .Values.connections.dbPort | quote }}
  DB_NAME: {{ .Values.connections.dbName }}
  REDIST_SERVER_HOST: {{ .Values.connections.redisHost }}
  AMQP_HOST: {{ .Values.connections.amqpHost }}
  AMQP_USER: {{ .Values.connections.amqpUser }}
  AMQP_PROTO: {{ .Values.connections.amqpProto }}
  METRICS_ENABLED: {{ .Values.metrics.enabled | quote }}
  METRICS_HOST: {{ .Values.metrics.host }}
  METRICS_PORT: {{ .Values.metrics.port | quote }}
  METRICS_PREFIX: {{ .Values.metrics.prefix }}
  LOG_LEVEL: {{ .Values.log.level }}
  LOG_TYPE: {{ .Values.log.type }}
  LOG_PATTERN: {{ .Values.log.pattern | quote }}
  NGINX_GZIP_PROXIED: {{ .Values.proxy.gzipProxied | quote }}
  {{ if .Values.example.enabled }}
  EXAMPLE_HOST_PORT: example:3000
  {{ end }}
