{{- if and (eq (include "ds.install.createConfigMap" .) "true") .Values.install.job.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: pre-install
  annotations:
    "helm.sh/hook": pre-install
    "helm.sh/hook-weight": "1"
    "helm.sh/hook-delete-policy": before-hook-creation,hook-succeeded
data:
  initdb.sh: |-
    #!/bin/bash
    PGPASSWORD=$DB_PWD psql --host={{ .Values.connections.dbHost }} \
      --user={{ .Values.connections.dbUser }} \
      --dbname={{ .Values.connections.dbName }} -c "\l" > /dev/null
    if [ $? -ne 0 ]; then	
      echo -e "\e[0;31m DB is not available \e[0m"
      exit 1
    fi
    if [[ "$PRIVATE_CLUSTER" != "true" ]]; then
      wget -O /sql/{{ .Values.install.existingConfigmap.tblCreate.keyName }} \
        https://raw.githubusercontent.com/ONLYOFFICE/server/{{ .Values.sqlScripts.branchName }}/schema/postgresql/createdb.sql
    fi
    PGPASSWORD=$DB_PWD psql --host={{ .Values.connections.dbHost }} \
      --user={{ .Values.connections.dbUser }} \
      --dbname={{ .Values.connections.dbName }} \
      --file=/sql/{{ .Values.install.existingConfigmap.tblCreate.keyName }}
    echo work done
{{- end }}
