{{- if and (eq (include "ds.install.createConfigMap" .) "true") .Values.install.job.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: pre-install
  {{- if .Values.commonLabels }}
  labels:
    {{- include "ds.labels.commonLabels" . | trim | nindent 4 }}
  {{- end }}
  annotations:
    "helm.sh/hook": pre-install
    "helm.sh/hook-weight": "2"
    "helm.sh/hook-delete-policy": before-hook-creation,hook-succeeded
data:
  initdb.sh: |-
    #!/bin/bash
    {{- if eq .Values.connections.dbType "postgres" }}
    PGPASSWORD=$DB_PWD psql --host={{ .Values.connections.dbHost }} \
      --port={{ .Values.connections.dbPort }} \
      --user={{ .Values.connections.dbUser }} \
      --dbname={{ .Values.connections.dbName }} -c "\l" > /dev/null
    {{- else if or (eq .Values.connections.dbType "mysql") (eq .Values.connections.dbType "mariadb") }}
    mysql -h {{ .Values.connections.dbHost }} \
      -P {{ .Values.connections.dbPort }} \
      -u {{ .Values.connections.dbUser }} \
      -p$DB_PWD \
      -e "show databases;" > /dev/null
    {{- end }}
    if [ $? -ne 0 ]; then	
      echo -e "\e[0;31m DB is not available \e[0m"
      exit 1
    fi
    if [[ "$PRIVATE_CLUSTER" != "true" ]]; then
      wget -O /sql/{{ .Values.install.existingConfigmap.tblCreate.keyName }} \
        {{- if eq .Values.connections.dbType "postgres" }}
        https://raw.githubusercontent.com/ONLYOFFICE/server/{{ template "ds.sqlScripts.branchName" . }}/schema/postgresql/createdb.sql
        {{- else if or (eq .Values.connections.dbType "mysql") (eq .Values.connections.dbType "mariadb") }}
        https://raw.githubusercontent.com/ONLYOFFICE/server/{{ template "ds.sqlScripts.branchName" . }}/schema/mysql/createdb.sql
        {{- end }}
    fi
    {{- if eq .Values.connections.dbType "postgres" }}
    PGPASSWORD=$DB_PWD psql --host={{ .Values.connections.dbHost }} \
      --port={{ .Values.connections.dbPort }} \
      --user={{ .Values.connections.dbUser }} \
      --dbname={{ .Values.connections.dbName }} \
      --file=/sql/{{ .Values.install.existingConfigmap.tblCreate.keyName }}
    {{- else if or (eq .Values.connections.dbType "mysql") (eq .Values.connections.dbType "mariadb") }}
    mysql -h {{ .Values.connections.dbHost }} \
      -P {{ .Values.connections.dbPort }} \
      -u {{ .Values.connections.dbUser }} \
      -p$DB_PWD \
      {{ .Values.connections.dbName }} < /sql/{{ .Values.install.existingConfigmap.tblCreate.keyName }}
    {{- end }}
    echo work done
{{- end }}
